# Created by .ignore support plugin (hsz.mobi)

#PROJECT INGNORE AREAS
JWL
sketchs
site

# ---------------
*.txt
complete


# Windows ---------------
*.bat

# Git ---------------
.git
.gitignore

# JetBrains ---------------
.idea
*.iml

#CMake ---------------
CMakeFiles
*.txt
*.cbp
*.cmake
Makefile

#Maven ---------------
target/classes
target/maven-archiver
target/maven-status

# Visual Studio ---------------
*.sdf
*.sln
*.suo
*.ilk
*.pdb
*.vcxproj
*.filters
*.log
*.idb
*.tlog
*.lastbuildstate
*.opensdf
*.db

# Code-Light ---------------
*.clang
*.codelite
*.workspace
*.project

#Java ---------------
*.jar
*.war

# Android ----------------
# Gradle
*.txt
build
gradle
gradlew
*.bat
*.iml
*.gradle
*.properties
*.gradlew
*.pro
